*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background-color: #D9D9D9;
}

.container{
  height: 110px;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0 100px 0 200px;
}
.logo{
  flex-basis: 30%;
}
.navmenu{
  flex-basis: 70%;
}

.date{
  position: absolute;
  bottom: 0;
  right: 0;
  font-weight: bold;
}
.logo img{
  Height: 70px;
}
.navmenu ul{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navmenu li{
  list-style: none;
  margin: 20px;
  font-size: 33px;
  cursor: pointer;
}
.nevmenu li:hover{
  color: orangered;
}
.navmenu li a{
  text-decoration: none;
  font-size: 26px;
  color: black;
}





.advertisement{
  height: 120px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 0 100px 0 200px;
  align-items: center;
}
.secret-17{
  height: 100px;
  flex-basis: 15%;
  background-color: black;
  padding: 2px;
}
.secret-17 img{
  width: 240px;
  height: 96px;
}
.advertise{
  height: 100px;
  flex-basis: 65%;
  background-color: white;
}
.quarec-logo{
  height: 100px;
  flex-basis: 15%;
  background-color: black;
}
.quarec-logo img{
  height: 87.41px;
  margin: 5px 70px;
}




.breakingnews-line{
  height: 33px;
  margin: 20px 100px 0 200px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
.breaking-news{
  flex-basis: 15%;
  height: 100%;
  background-color: #E20000;
  font-weight: bold;
  font-size: 24PX;
  text-align: center;
  padding: 3px 0;
}
.news{
  height: 100%;
  flex-basis: 85%;
  background-color: white;
  display: flex;
  align-items: center;
  font-size: 16px;
}
.news :nth-child(2){
  margin-left: 250px;
}
.news :nth-child(3){
  margin-left: 360px;
}





.section{
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  margin: 20px 100px 0 200px;
}
.left-section{
  height: 1100px;
  /* width: 223px; */
  flex-basis: 15%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 17px 12px 15px 12px;
}
.category-section{
  Width: 223px;
  height: 750px;
  background: linear-gradient(#E74B4B,#001AFF);
  padding-top: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.category{
  Width: 199px;
  height: 52px;
  background-color: white;
  margin-bottom: 10px;
  font-size: 23px;
  font-weight: bold;
  padding: 6px 0 6px 15px;
  display: flex;
  align-items: center;
}
.category ion-icon{
  height: 40px;
  width: 40px;
  font-size: 30px;
  margin-right: 5px;
}
.download-app{
  width: 223px;
  height: 280px;
  margin-top: 24px;
  background-color: white;
  font-weight: bolder;
  color: #808080;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.google-play{
  position: relative;
}
.play-store{
  position: relative;
  top: 5px;
  left: 11px;
  font-size: 40px;
  color: white;
}
.google-play > div{
  display: inline-block;
  margin-left: 10px;
  font-size: 16px;
  color: white;
}
.appstore{
  position: relative;
  top: 5px;
  left: 11px;
  font-size: 40px;
  color: white;
}
.app-store > div{
  display: inline-block;
  margin-left: 10px;
  font-size: 20px;
  color: white;
}

.left-section .box{
  width: 177px;
  height: 51px;
  border-radius: 7px;
  background-color: black;
  margin-top: 11px;
}
.social-link ul{
  position: relative;
  display: flex;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  /* border: 1px solid red; */
}
.social-link ul li{
  list-style: none;
  position: relative;
  cursor: pointer;
  margin: 0 10px;
}
.social-link ul li a{
  text-decoration: none;
  color: #808080;
  font-size: 25px;
}
ul li::before{
  font-family: "FontAwesome";
  position: absolute;
  top: 0;
  left: 0;
  font-size: 25px;
  height: 0;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}
ul li:nth-child(1)::before{
  content: "\f09a";
  color: #3b5998;
  top: 1px;
  width: 100%;
  /* border-bottom: 2px solid #3b5998; */
}
ul li:nth-child(2)::before{
  content: "\f099";
  color: #1da1f2;
  top: 1px;
  width: 100%;
  /* border-bottom: 2px solid #1da1f2; */
}
ul li:nth-child(3)::before{
  content: "\f16d";
  background: linear-gradient(45deg,#f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  top: 1px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 100%;
  /* border-bottom: 2px solid #dc2743; */
}
ul li:nth-child(4)::before{
  content: "\f167";
  color: #ff0000;
  top: 1px;
  width: 100%;
  /* border-bottom: 2px solid #ff0000; */
}
ul li:hover::before{
  height: 100%;
}
.p-primary{
  margin-top: 42px;
}
.social-link{
  width: 177px;
  height: 51px;
}
.paragraps{
  line-height: 29.5px;
  font-size: 24px;
  padding: 0px 50px 30px 20px ;
}
.headlines{
  width: 100%;
  position: relative;
  margin: 30px 0px 0px 0px;
}
.headlines-right{
  width: 22%;
  position: relative;
  float: right;

}
.headlines-left{
  width: 78%;
  height: 277px;
  position: absolute;
  float: left;
  background-color: #FFF;
}
.headlines-left h4{
  padding: 20px 430px 20px 25px;
}
.headlines-left p{
  font-size: 14px;
  font-family: inter;
  padding: 0px 250px 70px 50px;
}
.footer h1 {
  padding: 0px 0px 0px 50px;
}
.icon{
  padding: 0px 100px 0px 0px;

}
.icon a{
  text-decoration: none;
}

.center-section{
  width: 710px;
  height: 700px;
  display: flex;
  flex-basis: 65%;
  /* justify-content: center; */
  align-items: center;
  /* border: 1px solid red; */
  flex-direction: column;
  margin-top: 23px;
}
.trending-news{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.head{
  width: 100%;
  display:inline-block;
  border-bottom: 1px solid black;
}
.Custome-head{
  width: 100%;
  display:inline-block;
  padding: 0px 0px 0px 0px;
  text-decoration: none;
}
.head h4{
  float: left;
  margin: 5px;
  font-size: 28px;
}
.head p{
  float: right;
  margin: 18px 5px 5px 5px;
  background-color: #ff0000;
}
.News{
  background-color: black;
  height: 350px;
  width: 100%;
  margin-top: 17px;
  border: 1px solid black;
  position: relative;
}
.News p{
  position: absolute;
  bottom: 10%;
  left: 10%;
  font-size: 28px;
  color: white;
}
.previous{
  width: 60px;
  height: 60px;
  position: absolute;
  left: 10%;
  top: 47%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50px;
}
.next{
  width: 60px;
  height: 60px;
  position: absolute;
  right: 10%;
  top: 47%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50px;
}
.previous i{
  color: white;
  margin-left: 15px;
  margin-top: 12px;
  font-size: 35px;
  text-align: center;
}
.next i{
  color: white;
  margin-left: 17px;
  margin-top: 12px;
  font-size: 35px;
  text-align: center;
}
.social{
  height: 320;
  width: 223;
  background-color: #000000;
  color: #FFF;
  line-height: 16px;
  padding:20px 20px 20px 20px;
}
#news{
  color: #858585;
  font-size: 10px;
  font-family: Inter;
  padding-bottom: 20px;
}
#news1{
  color: #FFF;
  font-size: 14px;
  font-family: Inter;
  padding:0px 0px 20px 0px;
}
#news1 span{
  font-size: 10px;
}
#input{
  height: 32px;
  width: 175px;
  border-radius: 13px;
  padding: 10px 10px 10px 10px;
  border-color: transparent;
  margin: 0px 0px 10px 0px;
}
#submit{
  width: 50px;
  height: 26px;
  color: #FFF;
  background-color: #000000;
  font-size: 9px;
  font-family: inter;
  border-color: #FFF;
  border-radius: 13px;
}
#social-btn{
  height: 44px;
  width: 227px;
  border-radius: 13px;
  padding: 10px;
  background-color: #FFF;
  font-family: 'Inter';
  font-style: bold;
  font-size: 10px;

}
#social-btn i{
  font-size: 20px;
}
.rajkaran{
  height: 350px;
  width: 100%;
  margin-top: 17px;
}
.rajkaran .box{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.rajkaran .News{
  width: 40%;
  flex-basis: 47%;
}
.rajkaran .News p{
  font-size: 14px;
}

.right-section{
  flex-basis: 15%;

}
.img-right{
position: relative;
padding: 0px 0px 10px 0px;
}
.Onimg{
  position: absolute;
  top: 175px;
  left: 10px;
}
.table, th {
  height: 40px;
  border:solid 1px;
  color: #000;
  background-color: transparent;
}
.table, th, td {
  border: 1px solid;
  HEIGHT: 50px;
  font-size: 14px;
  font-family: inter;
  padding:14px;
}
.tbl{
  width: 100%;
  margin: 0px 0px 20px 0px;
  
}
#Auto{
  background-color: black;
  color: #FFF;
}
#read-more{
  background-color: red;
  font-size: 10px;
  margin:0px 0px 0px 53px;
}
.future{
font-family: Inter;
font-size: 14px;
}

/* @media Queery Start  */

